certifi==2022.9.24
charset-normalizer==2.1.1
docx==0.2.4
exception==0.1.0
Faker==15.3.1
fpdf==1.7.2
idna==3.4
lxml==4.9.1
Pillow==9.3.0
python-dateutil==2.8.2
python-docx==0.8.11
requests==2.28.1
six==1.16.0
urllib3==1.26.12
XlsxWriter==3.0.3
